//This fixes nf-core launch error: roject <project-name> is currently stickied on revision: main 
manifest.defaultBranch = "main"


// Global default params, used in configs
params {
  SAMPLEFILE = null
  sangerID = null
  //generates unique timestamp used as a directory for storing results and reports within
  timestamp = (new Date()).getTime()
  barcodes_on_irods = "yes"
  bam_on_irods = "yes"
  bam_has_umis = "yes"
  GTF = '/nfs/cellgeni/STAR/human/2020A/GRCh38_v32_filtered.gtf'
  RMSK = '/nfs/cellgeni/velocyto/GRCh38_rmsk.gtf'
  MEM = 7000
  THREADS = 16
  HELP = false
}

// Singularity environment parameters
singularity {
  enabled     = true
  autoMounts  = true
  cacheDir = '/nfs/cellgeni/singularity/images/'
  runOptions = '-B /lustre,/nfs'
}

// Configuring LSF job submission parameters for each process
executor {
  name = 'lsf'
  perJobMemLimit = true
}

process {
  withName: email_startup {
    cpus = 1
    memory = 4.GB
    queue = 'normal'
  }
  withName: get_data {
    cpus = 1 
    memory = 4.GB
    queue = 'normal'
    maxForks = 5
  }
  withName: run_velocyto {
    container = '/nfs/cellgeni/singularity/images/velocyto-2023.sif'
    cpus = 16
    memory = 128.GB
    queue = 'long'
    maxForks = 5
  }
  withName: email_finish {
    cpus = 1
    memory = 4.GB
    queue = 'normal'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capturing Nextflow log files into a reports directory
timeline {
   enabled = true
   file = "/lustre/scratch126/cellgen/cellgeni/tickets/nextflow-tower-results/${params.sangerID}/${params.timestamp}/velocyto-reports/timeline.html"
   overwrite = true
}

report {
   enabled = true
   file = "/lustre/scratch126/cellgen/cellgeni/tickets/nextflow-tower-results/${params.sangerID}/${params.timestamp}/velocyto-reports/report.html"
   overwrite = true
}

trace {
   enabled = true
   file = "/lustre/scratch126/cellgen/cellgeni/tickets/nextflow-tower-results/${params.sangerID}/${params.timestamp}/velocyto-reports/trace.txt"
   overwrite = true
}

// Ensures work directories and removed when pipeline completes
cleanup = true
